.title {
    border: 1px solid red;
    width:fit-content;
    background-color: coral;
    color: white;
    font: size 30px; 
    text-align: center;


    padding: 100px ;

    /* padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left:100px ;




    /* margin: 150px; */
} 